#contenedor {
	/*width: 700px;*/
	width: 100%px;
}
#cabecera {
	background: red;
}
#menu {
	float: left;
	background: blue;
	/*width: 150px;*/
	width: 15%;
}
#contenido {
	float: left;
	/*width: 550px;*/
	width: 85%;
}
#pie {
	clear: both;
	background: violet;
}
#primario {
	float: left;
	background: orange;
	width: 30%;
}
#secundario {
	float: left;
	background: grey;
	width: 70%;
}
